* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdbadc;
    padding: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ca0c78; 
    padding: 30px 40px;       
    border-radius: 8px;
}

#inicio h1 {
    font-size: 20px;
    color: #ffffff;
}

#menu a {
    text-decoration: none;
    margin-left: 10px;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
    margin-left: 5px;
}
  #link-inicio {
    background-color: #db5ca2; 
    color: #ffffff;            
}

  #link-fadas {
    background-color: #db5ca2; 
    color: white;              
}

  #link-curiosidades {
    background-color: #fae673;
    color: rgb(0, 0, 0);              
}           

#caixa-texto {
    background-color: #fa3996; 
    padding: 20px 30px;        
    border-radius: 8px;        
    margin-bottom: 20px;       
}


small {
    color:  #fae673;
    font-weight: bold;
    font-size: 14
    px;
}

h2 {
    color: white;
    margin: 10px 0;
}

h2 strong {
    color: #fae673;
}

main section p {
    color: rgb(2, 2, 2);
    margin-bottom: 20px;
}


#introducao {
    background-color: #fdb2d7;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 50px;
    
}

#bloco-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#introducao img {
    width: 300px;
    border-radius: 8px;
    height: auto;
}

.legenda-imagem {
    color: #070707;
    font-size: 15px;
    margin-top: 8px;
    text-align: center;
}

#introducao h3 {
    color: #cf2e8c;
    margin-bottom: 10px;
    font-size: 18px;
}

h3 {
   color: #ffffff;
   font-size: 15px;
}    

#introducao article article strong {
    font-size: 17px; 
    color: #050505;  
}

#introducao article article {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    color: black;
}

#introducao article article p:first-child {
    font-weight: bold;
    color: #cf2e8c;
    font-size: 20px;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    background-color: #ca0c78;
    padding: 40px 30px;
    border-radius: 8px;
}

footer p {
    color: white;
}

#menu-final a {
    background-color: #fae673;;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 10px;
}